<div fxLayout="column" fxFlexFill>
  <app-header> <mat-toolbar color="primary" class="app-header.sm">
  <div class="company"><a href="http://www.google.com/"  target="_blank" color="white"><p>COMPANY NAME</p></a>
 </div>
  <span class="space"></span>
  
  <span class="nav-tool-items">
    <a mat-button routerLink="register" routerLinkActive="active" >LOGIN FOR DESCRIPTION PAGE</a>
  </span>
</mat-toolbar>
  </app-header>

  <div fxFlex>
<router-outlet></router-outlet>
  </div>
  <app-footer>

<mat-toolbar color="primary" class="app-footer.sm">
  <div class="footer">
 </div>
</mat-toolbar>
</app-footer>
</div>